<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
	<title>Boat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<link href="/static/css/club-nautico.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div class="container my-5">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/trips/tripList}">Trips</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Administration
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/templates/members/list.html" th:href="@{/members/memberList}">Members</a></li>
								<li><a class="dropdown-item" href="/templates/skippers/list.html" th:href="@{/skippers/skipperList}">Skippers</a></li>
								<li><a class="dropdown-item" href="/templates/boats/list.html" th:href="@{/boats/boatList}">Boats</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="card">
			<div class="card-header">
				<h1>Boat</h1>
			</div>
			<div class="card-body">
				<div>
					<input type="number" readonly class="form-control-plaintext" id="boatRegistration"
						   th:value="${boat.boatRegistration}">
					<label for="boatRegistration">Boat Registration</label>
				</div>
				<div>
					<label for="name">
						<input type="text" readonly class="form-control-plaintext" id="name"
							   th:value="${boat.name}">
					</label>
					<label for="boatRegistration">Boat Registration</label>
				</div>
				<div>
					<label for="mooringNumber">
						<input type="number" readonly class="form-control-plaintext" id="mooringNumber"
							   th:value="${boat.mooringNumber}">
					</label>
					<label for="boatRegistration">Mooring Number</label>
				</div>
				<div>
					<label for="fee">
						<input type="number" step="any" readonly class="form-control-plaintext" id="fee"
							   th:value="${boat.fee}">
					</label>
					<label for="boatRegistration">Fee</label>
				</div>
				<div>
					<label for="skipper">
						<input readonly class="form-control-plaintext" id="skipper"
							   th:if="${boat.skipper != null}" th:value="${boat.skipper.name}">
						<span th:if="${boat.skipper == null}">N/A</span>
					</label>
					<label for="boatRegistration">Skipper</label>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-between">
			<a th:href="@{/boats/boatList}" class="btn btn-primary">Back</a>
			<a th:href="@{/boats/edit/{boatRegistration}(boatRegistration=${boat.boatRegistration})}" class="btn btn-primary">Edit boat</a>
		</div>
		<div id="footer" class="card-footer text-muted">Real Club Nautico Tenerife 2023</div>
	</div>
</body>

</html>