<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<head>
	<title>Trips</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
	<link href="/static/css/club-nautico.css" rel="stylesheet" type="text/css"/>
</head>

<body>
	<div class="container my-5">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Trips</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Administration
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/templates/members/list.html" th:href="@{/members/memberList}">Members</a></li>
								<li><a class="dropdown-item" href="/templates/skippers/list.html" th:href="@{/skippers/skipperList}">Skippers</a></li>
								<li><a class="dropdown-item" href="/templates/boats/list.html" th:href="@{/boats/boatList}">Boats</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="card">
			<div class="card-header">
				<h1>Skippers</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Dni</th>
							<th>Name</th>
							<th>Skipper</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="skipper : ${skippers}" th:if="${skippers.size()} > 0">
							<td th:text="${skipper.dni}"></td>
							<td th:text="${skipper.name}"></td>
							<td th:text="${skipper.skipper} ? 'Yes' : 'No'">Skipper</td>
							<td>
								<a th:href="@{/skippers/show/{id}(id=${skipper.id})}" class="btn btn-primary btn-sm">Show</a>
								<a th:href="@{/skippers/edit/{id}(id=${skipper.id})}" class="btn btn-warning btn-sm">Edit</a>
								<a th:href="@{/skippers/delete/{id}(id=${skipper.id})}" class="btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
						<tr th:if="${skippers.size()} == 0">
							<td colspan="3" class="text-center">Records not found</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="d-flex justify-content-between">
			<a href="/templates/home.html" class="btn btn-primary" th:href="@{/}">Back</a>
			<a href="/templates/skippers/create.html" class="btn btn-primary" th:href="@{/skippers/create}">New skipper</a>
		</div>
		<div id="footer" class="card-footer text-muted">Real Club Nautico Tenerife 2023</div>
	</div>
</body>

</html>